{% extends 'base.html.twig' %}

{% block title %}Accueil - Stage SIO{% endblock %}

{% block body %}
	<div id="principal">
	
		<img class="size-icon-user" src="{{ asset('img/userAccueilIcon.svg') }}" alt="BTS SIO" />

	    <h1>Bienvenue sur l'application Gestionnaire de Stage !</h1>
	    
	    <a href="https://www.linkedin.com/groups/13794023" target="_blank">Groupe Linkedin - BTS SIO</a>
	    <a href="https://moodle.btssio-poitiers.fr/v2/login/index.php" target="_blank">Moodle</a>
	    
	    <div style="margin-top: 800px;">
	    	<p>Pour tester le menu qui se fixe quand tu scroll;)</p>
	    </div>
	</div>
{% endblock %}
