<header>
    <a href="/accueil">
		<svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3079.69 452.26">
			<path d="M1333.91,255.21l20.87-9.67q3,10.77,10.88,16.42t20.21,5.66q11.64,0,18.51-6.48t6.87-17.36q0-14.17-23.51-25.27c-2.2-1.09-3.88-1.9-5-2.41q-26.6-13-35.44-23.46T1338.41,167q0-19.67,13.35-31.86t35-12.2q17.8,0,29.77,6.87a36.14,36.14,0,0,1,16.59,19.72l-20.43,10.55q-4.85-7.59-10.6-11.1a25,25,0,0,0-13.24-3.51q-10.54,0-16.76,5.49t-6.2,14.72q0,14.51,27.24,27,2.09,1,3.3,1.53,23.83,11,32.74,21.48t8.9,26.21q0,22.85-14.4,36.3t-38.89,13.46q-20.54,0-33.67-9.45T1333.91,255.21Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1518.59,148.75V287.4h-26.15V148.75H1449.7V126.56h111.4v22.19Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1671,287.4,1652.73,246H1589l-18.68,41.42h-27.46l77.89-167.21,77.78,167.21Zm-72.29-63.17h44.82L1627,187.53q-1.43-3.51-3-8.07T1621,169.29q-1.32,5.28-2.8,9.84t-3,8.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1798.85,205h63.72c0,1.1,0,2.64.11,4.62q.33,7.8.33,10.54,0,33.94-19.45,52.74t-54.82,18.78q-19.77,0-35.27-5.82a74.76,74.76,0,0,1-27.13-17.58,79.86,79.86,0,0,1-17.53-27.35,92.22,92.22,0,0,1-6.09-33.62,89.16,89.16,0,0,1,6.2-33.62,77.89,77.89,0,0,1,18.41-27.14A79,79,0,0,1,1754.9,129a94,94,0,0,1,33.84-6q19,0,34,6.92a75.79,75.79,0,0,1,26.75,21.21l-19.11,14.39A52.85,52.85,0,0,0,1812,151.39a54.85,54.85,0,0,0-22.85-4.62q-26.15,0-42.68,16.76T1730,207.09q0,27.24,16.54,44.22t42.9,17q22.41,0,35.27-10.44t12.85-28.45v-2.31h-38.67Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1890.47,287.4V126.56h89.76v22.19h-63.61v40.32h63.61v23h-63.61v52h63.61v23.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M2068.89,255.21l20.88-9.67q3,10.77,10.87,16.42t20.22,5.66q11.64,0,18.51-6.48t6.87-17.36q0-14.17-23.52-25.27c-2.19-1.09-3.88-1.9-5-2.41q-26.58-13-35.43-23.46T2073.4,167q0-19.67,13.34-31.86t35-12.2q17.79,0,29.77,6.87a36.22,36.22,0,0,1,16.59,19.72l-20.44,10.55q-4.83-7.59-10.6-11.1a25,25,0,0,0-13.24-3.51q-10.55,0-16.75,5.49t-6.21,14.72q0,14.51,27.25,27c1.39.66,2.49,1.17,3.29,1.53q23.85,11,32.74,21.48t8.9,26.21q0,22.85-14.39,36.3t-38.89,13.46q-20.55,0-33.68-9.45T2068.89,255.21Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M2202.05,287.4V126.56h26.14V287.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M2430.67,207.31A81.87,81.87,0,0,1,2405.51,267a87.81,87.81,0,0,1-28,18.35,85.74,85.74,0,0,1-32.74,6.37,87,87,0,0,1-33.13-6.42,85.51,85.51,0,0,1-27.85-18.3,81.82,81.82,0,0,1-18.67-27.13,83.62,83.62,0,0,1,18.67-92.4,85.25,85.25,0,0,1,27.91-18.23,89.9,89.9,0,0,1,66,0A85.11,85.11,0,0,1,2424.24,175,82.77,82.77,0,0,1,2430.67,207.31Zm-27.25,0a61.26,61.26,0,0,0-4.44-23.18,60.21,60.21,0,0,0-12.8-19.56A57.08,57.08,0,0,0,2344.76,147a59,59,0,0,0-54.38,37,62.11,62.11,0,0,0-4.4,23.29,61,61,0,0,0,4.4,23.07,59.56,59.56,0,0,0,12.74,19.45,57.22,57.22,0,0,0,41.64,17.57,56.68,56.68,0,0,0,22.36-4.5,59.16,59.16,0,0,0,19.06-13.07,60.34,60.34,0,0,0,17.24-42.52Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M347.06,557.4V396.56h26.15V534h58.44v23.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M471.09,557.4V483.79l-54.16-87.23H444.4l33.73,54.6q1.2,2.08,3,5.49c1.21,2.27,2.43,4.73,3.68,7.36q1.53-3.84,3.24-7.25a61.27,61.27,0,0,1,3.57-6.26l34.61-53.94h26.14L497,483.79V557.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M695,435.67a80.52,80.52,0,0,0-23.46-14.17,72.14,72.14,0,0,0-26-4.73q-26.37,0-42.9,16.92t-16.54,43.84q0,26,16.1,43t40.59,16.92a73.88,73.88,0,0,0,27.19-5,86.22,86.22,0,0,0,24.78-15.27v29.55a77,77,0,0,1-23,11.32,99.16,99.16,0,0,1-61-2.31,80.38,80.38,0,0,1-45.6-45,91,91,0,0,1,0-66.58A82.35,82.35,0,0,1,611,398.81a90.8,90.8,0,0,1,33.51-6.1,88.22,88.22,0,0,1,27,4.12,95,95,0,0,1,24.93,12.47Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M727.41,557.4V396.56h89.75v22.19H753.55v40.32h63.61v23H753.55v52h63.61v23.4Zm29.77-176.66,20.87-29.88h24.72l-32.08,29.88Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M847.16,557.4V396.56h89.76v22.19H873.3v40.32h63.62v23H873.3v52h63.62v23.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1141,557.4,1122.8,516h-63.72l-18.67,41.42h-27.47l77.89-167.21,77.79,167.21Zm-72.29-63.17h44.83l-16.48-36.7q-1.44-3.51-3-8.07t-3.08-10.17q-1.32,5.28-2.8,9.84c-1,3-2,5.84-3,8.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1183.78,557.4V396.56h26.15V534h58.44v23.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1290,557.4V396.56h26.14V557.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1353.74,557.4V396.56h89.75v22.19h-63.61v40.32h63.61v23h-63.61v52h63.61v23.4Zm29.77-176.66,20.87-29.88h24.72L1397,380.74Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1473.49,557.4V390.19l102.17,98.32q4.17,4.19,8.46,8.9t9,10.66V396.56h24.17v167.1L1513,463.58q-4.18-4.06-8.08-8.57t-7.41-9.45V557.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1819.12,477.31A81.87,81.87,0,0,1,1794,537a88,88,0,0,1-28,18.35,85.7,85.7,0,0,1-32.74,6.37,87,87,0,0,1-33.12-6.42,85.51,85.51,0,0,1-27.85-18.3,82,82,0,0,1-18.68-27.13,83.59,83.59,0,0,1,18.68-92.4,85,85,0,0,1,27.91-18.23,89.9,89.9,0,0,1,66,0A85.42,85.42,0,0,1,1794,417.43,84.56,84.56,0,0,1,1812.69,445,82.77,82.77,0,0,1,1819.12,477.31Zm-27.25,0a61.07,61.07,0,0,0-4.45-23.18,59.89,59.89,0,0,0-12.8-19.56A57,57,0,0,0,1733.2,417a59,59,0,0,0-54.38,37,62.11,62.11,0,0,0-4.39,23.29,61,61,0,0,0,4.39,23.07,59.74,59.74,0,0,0,12.75,19.45,57.17,57.17,0,0,0,41.63,17.57,56.64,56.64,0,0,0,22.36-4.5,59.06,59.06,0,0,0,19.06-13.07,60.41,60.41,0,0,0,17.25-42.52Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M1873.61,485.44v72h-24.5V396.56h36.47q16.05,0,24.89,2.09a39,39,0,0,1,15.11,6.92,38.33,38.33,0,0,1,11.53,15.05,49.57,49.57,0,0,1,4.06,20.21q0,19.34-9.33,30.27t-27.58,13.13l55.37,73.17h-29.55l-53.5-72Zm1.65-20.33H1880q20.77,0,27.58-4.83t6.81-17.14q0-13.29-7.31-18.73T1880,419h-4.72Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M2043,557.4V396.56h35.26q34.39,0,48.4,3.46a65.36,65.36,0,0,1,24.55,11.59A67.22,67.22,0,0,1,2172.38,439q7.2,16.69,7.2,38.12t-7.2,38a68.38,68.38,0,0,1-21.15,27.3,65.65,65.65,0,0,1-24,11.59q-13.45,3.46-41.91,3.46H2043Zm26.15-23.62h22q18.12,0,27.19-2.42a39.61,39.61,0,0,0,15.76-8.13,48.35,48.35,0,0,0,13.68-19.39q4.56-11.59,4.56-27t-4.56-27a48.35,48.35,0,0,0-13.68-19.39,40.43,40.43,0,0,0-16.31-8.13q-9.51-2.42-29.72-2.42h-18.89Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M2200.67,452.59l20.88-59.66,20.1,6.49-27,58.33Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M2379.75,557.4,2361.51,516h-63.72l-18.67,41.42h-27.47l77.89-167.21,77.79,167.21Zm-72.29-63.17h44.82l-16.47-36.7q-1.44-3.51-3-8.07t-3.08-10.17q-1.32,5.28-2.8,9.84t-3,8.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M2559.16,535.54l34.17,36.91h-31.21l-21-22.74a97,97,0,0,1-21.86,8.68,92.87,92.87,0,0,1-23.18,2.85,83.38,83.38,0,0,1-32.08-6.48,85.13,85.13,0,0,1-27.47-18,81.78,81.78,0,0,1-18.62-27.13,85.45,85.45,0,0,1,0-65,81.82,81.82,0,0,1,18.62-27.14,84.17,84.17,0,0,1,27.74-18.18,90.1,90.1,0,0,1,66.3,0A85.6,85.6,0,0,1,2577,444.68a84.13,84.13,0,0,1,.27,64.1A81,81,0,0,1,2559.16,535.54Zm-32.63-35.71L2542,516.42a61.41,61.41,0,0,0,10.77-18.51,64.71,64.71,0,0,0-.94-44,57.68,57.68,0,0,0-12.69-19.34,60.07,60.07,0,0,0-19.22-13.18,57,57,0,0,0-44.94,0,60.74,60.74,0,0,0-31.86,32.52,61.28,61.28,0,0,0-4.39,23.18q0,25.26,17.08,42.57t42.35,17.3a55.81,55.81,0,0,0,13-1.48,54,54,0,0,0,12.36-4.67l-28.78-31Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M2612.77,396.56h25.82v97.67q0,21.75,10,32.68t30.05,10.93q19.88,0,29.94-10.93t10-32.68V396.56h26.15V496.64q0,32.64-16.48,48.84t-49.66,16.2q-33.18,0-49.55-16.15t-16.37-48.89Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M2781.3,557.4V396.56h26.15V557.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M2897,418.75V557.4h-26.15V418.75H2828.1V396.56h111.4v22.19Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M3049.37,557.4,3031.13,516h-63.72l-18.68,41.42h-27.46l77.89-167.21,77.78,167.21Zm-72.29-63.17h44.82l-16.48-36.7q-1.43-3.51-3-8.07t-3.08-10.17q-1.32,5.28-2.8,9.84t-3,8.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M3092.54,557.4V396.56h26.15V557.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M3156.26,557.4V390.19l102.18,98.32q4.17,4.19,8.46,8.9t9,10.66V396.56h24.17v167.1L3195.81,463.58q-4.17-4.06-8.07-8.57t-7.42-9.45V557.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
			<path d="M3337,557.4V396.56h89.76v22.19h-63.61v40.32h63.61v23h-63.61v52h63.61v23.4Z" transform="translate(-347.06 -120.19)" style="fill:#fff"/>
		</svg>
    </a>     
</header>
<nav id="container-menu">
	<div id="menu">
		<ul>
			<a href="/stage">
				<li>
					Stage
					<span></span><span></span><span></span><span></span>
				</li>
			</a>
			<a href="/entreprise">
				<li>
					Entreprise
					<span></span><span></span><span></span><span></span>
				</li>
			</a>
			<a href="/entreprise/professionnel">
				<li>
					Professionnel
					<span></span><span></span><span></span><span></span>
				</li>
			</a>
		</ul>
		
		
		<a href="/accueil">
			<svg id="imghome" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 399.5 337.43">
				<path d="M62.13,151V322.35A14.68,14.68,0,0,0,76.81,337h83.93a14.69,14.69,0,0,0,14.69-14.68V240a14.68,14.68,0,0,1,14.68-14.68h33.62A14.68,14.68,0,0,1,238.41,240v82.35A14.69,14.69,0,0,0,253.1,337h81.55a14.68,14.68,0,0,0,14.68-14.68V151.61" transform="translate(-5.97 -9.6)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:20px"/><path d="M288.5,84.89V48.52L278,59h54.94l-10.5-10.5v75.19c0,3.48-.06,7,0,10.43v.15a10.5,10.5,0,1,0,21,0V59.1c0-3.48.06-7,0-10.43v-.15A10.65,10.65,0,0,0,332.94,38H278a10.66,10.66,0,0,0-10.5,10.5V84.89a10.84,10.84,0,0,0,3.08,7.42,10.49,10.49,0,0,0,17.92-7.42Z" transform="translate(-5.97 -9.6)"/><path d="M402.47,194.5l-18.71-18.7-44.2-44.2L287.05,79.09l-43.6-43.6L230.32,22.36a69.65,69.65,0,0,0-8.57-7.8,27.82,27.82,0,0,0-16.53-5,29.49,29.49,0,0,0-18.07,6.92,36.87,36.87,0,0,0-2.74,2.56l-9.15,9.14L136.39,67.11,84.46,119l-48,48L10.2,193.3,9,194.5c-3.89,3.89-4.18,11,0,14.85a10.69,10.69,0,0,0,14.85,0L42.2,191l43.52-43.52,52-52L181.49,51.7C187.78,45.42,194,39,200.36,32.84c.25-.25.55-.52.81-.77,1.44-1.43-2.13,1.38-.43.31.46-.29.89-.59,1.36-.85s1-.44,1.4-.72c-2.18,1.44-1.65.65-.56.3a19.2,19.2,0,0,1,3-.7l-2.8.38a20,20,0,0,1,5.13,0l-2.79-.38a19.46,19.46,0,0,1,3,.7c1.09.35,1.62,1.14-.56-.3.42.28,1,.46,1.4.72s.9.56,1.35.85c1.71,1.07-1.86-1.74-.42-.31.26.26.55.51.82.77l.46.47L214.29,36,226.16,47.9l41.73,41.72,51.89,51.9,45.38,45.37c7.38,7.38,14.64,14.9,22.15,22.16l.31.3c3.89,3.89,11,4.18,14.85,0a10.7,10.7,0,0,0,0-14.85Z" transform="translate(-5.97 -9.6)"/>
			</svg>
		</a>

		<svg id="imgcompte" class="cliquable" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.99 535">
			<path d="M513.17,646H96.84S67.27,534.17,91.62,493.42s55.68-56.35,88.73-67.62,77.59-4.73,58.8-42c-22-43.62-39.23-51.31-45.34-97.39a114.35,114.35,0,0,1-3-26c0-62.74,50.67-113.66,113.45-114.4l.3,0h1.08c1.48,0,2.93.05,4.36.14,60.85,2.83,109.31,52.91,109.31,114.29a114.35,114.35,0,0,1-3,26C410.16,332.52,393,340.21,371,383.83a56.42,56.42,0,0,0-2.65,6.09q-.82,5.4-1.71,10.79c2.06,18.52,36.35,16,63.12,25.09,33,11.27,64.32,26.88,88.66,67.62S513.17,646,513.17,646Z" transform="translate(-64.5 -128.5)" style="fill: none;stroke: #222;stroke-miterlimit: 10;stroke-width: 35px;fill-rule: evenodd"/>
		</svg>
		
	</div>
</nav>

<div class="connexion" id="connex">
	<a href='{{ path('compte') }}'>Mon compte</a>
	<a href='{{ path('app_logout') }}'>Se déconnecter</a>
</div>